---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Python Programming Language: Functions

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [1]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [1]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

<br>
`add_numbers` updated to take an optional flag parameter.

In [2]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

<br>
Assign function `add_numbers` to variable `a`.

In [3]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

<br>
# The Python Programming Language: Types and Sequences

<br>
Use `type` to return the object's type.

In [4]:
type('This is a string')

str

In [5]:
type(None)

NoneType

In [6]:
type(1)

int

In [7]:
type(1.0)

float

In [8]:
type(add_numbers)

function

<br>
Tuples are an immutable data structure (cannot be altered).

In [9]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
Lists are a mutable data structure.

In [11]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [12]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>
This is an example of how to loop through each item in the list.

In [13]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Or using the indexing operator:

In [14]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

<br>
Use `+` to concatenate lists.

In [15]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [16]:
[1]*3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [17]:
1 in [1, 2, 3]

True

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [22]:
x = 'This is a string'
#print(x[0]) #first character
#print(x[0:1]) #first character, but we have explicitly set the end character
#print(x[0:2]) #first two characters

for i in x:
    print(i)

T
h
i
s

i
s

a

s
t
r
i
n
g

<br>
This will return the last element of the string.

In [24]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [26]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [23]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 4th element of the string and going all the way to the end.

In [27]:
x[3:]

's is a string'

In [29]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [2]:
firstname = 'Christopher Arthur Hansen Brooks'.split()[-1] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Brooks
Brooks

<br>
Make sure you convert objects to strings before concatenating.

In [36]:
'Chris' + 2

TypeError: can only concatenate str (not "int") to str

In [37]:
'Chris' + str(2)

'Chris2'

<br>
Dictionaries associate keys with values.

In [49]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [50]:
x['Kevyn Collins-Thompson']
x['Kevyn Collins-Thompson']

KeyError: 'Kevyn Collins-Thompson'

<br>
Iterate over all of the keys:

In [51]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com

<br>
Iterate over all of the values:

In [52]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com

<br>
Iterate over all of the items in the list:

In [54]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
Bill Gates

<br>
You can unpack a sequence into different variables:

In [61]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [56]:
fname

'Christopher'

In [65]:
lname

'Brooks'

In [66]:
email

'brooksch@umich.edu'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [68]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email, EMAIL = x

<br>
# The Python Programming Language: More on Strings

In [58]:
print('Chris' + 2)

TypeError: can only concatenate str (not "int") to str

In [59]:
print('Chris' + str(2))

Chris2

<br>
Python has a built in method for convenient string formatting.

In [70]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

<br>
# Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon   //  每一加侖 幾公里 平均公路燃油
* class : car classification // 汽車種類
* cty : city mpg //  市區油耗 
* cyl : # of cylinders // 汽缸數
* displ : engine displacement in liters // cc 數
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd // 驅動模式
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)  燃油方式
* hwy : highway mpg 高樹功率油耗
* manufacturer : automobile manufacturer 製造商 
* model : model of car  車子型號 
* trans : type of transmission 
* year : model year

In [129]:
import csv
%precision 2
with open('mpg.csv') as csvfile:
   mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [130]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [131]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [139]:

sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [115]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [147]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) 
    # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort()
CtyMpgByCyl.sort(key=lambda 
                 x:x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [153]:
#計算每汽缸由市區油耗
# (select cylinders,sum(cty) ,count(cty), sum(cty) / count(cty)from mpg group by cylinders ) 
cylinders = set(d['cyl'] for d in mpg)
ctyMpgBycYL = []  

for c in cylinders :
    summpg = 0 
    cyltypecount = 0 
    for d in mpg : 
        if d['cyl'] == c :
            summpg += float(d['cty'])
            cyltypecount += 1 
    ctyMpgBycYL.append((c , summpg /cyltypecount ))

ctyMpgBycYL

[('4', 21.01), ('6', 16.22), ('5', 20.50), ('8', 12.57)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [154]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [155]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

<br>
# The Python Programming Language: Dates and Times

In [156]:
import datetime as dt 
import time as tm

<br>
`time` returns the current time in seconds since the Epoch. (January 1st, 1970)

In [160]:
tm.time()

1588394585.22

<br>
Convert the timestamp to datetime.

In [198]:
tm.time()

dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2020, 5, 2, 12, 43, 41, 898184)

<br>
Handy datetime attributes:

In [202]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second # get year, month, day, etc.from a datetime

(2020, 5, 2, 12, 43, 41)

<br>
`timedelta` is a duration expressing the difference between two dates.

In [205]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

<br>
`date.today` returns the current local date.

In [207]:
today = dt.date.today()

In [208]:
today - delta # the date 100 days ago

datetime.date(2020, 1, 23)

In [209]:
today > today-delta # compare dates

True

<br>
# The Python Programming Language: Objects and map()

<br>
An example of a class in python:

In [214]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [215]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

<br>
Here's an example of mapping the `min` function between two lists.

In [415]:
store1 = [10, 11.6, 12, 2]
store2 = [9.00, 11.10, 12.34, 2]
#print( list(map(max, store1)))
cheapest = map(min, store1 ,store2)
cheapest

<br>
Now let's iterate through the map object to see the values.

In [417]:
for item in cheapest:
    print(item)

9.0
11.1
12
2

In [418]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']
print(people[0].split()[0])

def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

Dr.

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

<br>
# The Python Programming Language: Lambda and List Comprehensions

<br>
Here's an example of lambda that takes in three parameters and adds the first two.

In [304]:
my_function = lambda a, b, c : a + b

In [305]:
my_function(1, 2, 3)

3

<br>
Let's iterate from 0 to 999 and return the even numbers.

In [258]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

<br>
Now the same thing but with list comprehension.

In [420]:
my_list = [number for number in range(0,1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [428]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst
times_tables()
#times_tables() == [j*i for i in range(10) for j in range(10)]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 0,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 0,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 0,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [431]:
lowercase = 'abcde'
#fghijklmnopqrstuvwxyz
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b
in lowercase for c in digits for d in digits]

correct_answer # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49',
 'aa50',
 'aa51',
 'aa52',
 'aa53',
 'aa54',
 'aa55',
 'aa56',
 'aa57',
 'aa58',
 'aa59',
 'aa60',
 'aa61',
 'aa62',
 'aa63',
 'aa64',
 'aa65',
 'aa66',
 'aa67',
 'aa68',
 'aa69',
 'aa70',
 'aa71',
 'aa72',
 'aa73',
 'aa74',
 'aa75',
 'aa76',
 'aa77',
 'aa78',
 'aa79',
 'aa80',
 'aa81',
 'aa82',
 'aa83',
 'aa84',
 'aa85',
 'aa86',
 'aa87',
 'aa88',
 'aa89',
 'aa90',
 'aa91',
 'aa92',
 'aa93',
 'aa94',
 'aa95',
 'aa96',
 'aa97',
 'aa98',
 'aa99',
 'ab00',
 'ab01',
 'ab02',
 'ab03',
 'ab04',
 'ab05',
 'ab06',
 'ab07',
 'ab08',
 'ab09',
 'ab10',
 'ab11',
 'ab12',
 'ab13',
 'ab14',
 'ab15',
 'ab16',
 'ab17',
 'ab18',
 'ab19',
 'ab20',
 'ab21',
 'ab22',
 'ab23',
 'ab24',
 'ab25',
 'ab26',
 'ab27',
 'ab28',
 'ab29',
 'ab30',
 'ab31',
 'ab32',
 'ab33',
 'ab34',
 'ab35',
 'ab36',
 'ab37',
 'ab38',
 'ab39',
 'ab40',
 'ab41',
 'ab42',
 'ab43',
 'ab44',
 'ab45',
 'ab46',
 'ab47',
 'ab48',
 'ab49',
 'ab50',
 'ab51',
 'ab52',
 'ab53',
 'ab54',
 'ab55',
 'ab56',
 'ab57',
 'ab58',
 'ab59',
 'ab60',
 'ab61',
 'ab62',
 'ab63',
 'ab64',
 'ab65',
 'ab66',
 'ab67',
 'ab68',
 'ab69',
 'ab70',
 'ab71',
 'ab72',
 'ab73',
 'ab74',
 'ab75',
 'ab76',
 'ab77',
 'ab78',
 'ab79',
 'ab80',
 'ab81',
 'ab82',
 'ab83',
 'ab84',
 'ab85',
 'ab86',
 'ab87',
 'ab88',
 'ab89',
 'ab90',
 'ab91',
 'ab92',
 'ab93',
 'ab94',
 'ab95',
 'ab96',
 'ab97',
 'ab98',
 'ab99',
 'ac00',
 'ac01',
 'ac02',
 'ac03',
 'ac04',
 'ac05',
 'ac06',
 'ac07',
 'ac08',
 'ac09',
 'ac10',
 'ac11',
 'ac12',
 'ac13',
 'ac14',
 'ac15',
 'ac16',
 'ac17',
 'ac18',
 'ac19',
 'ac20',
 'ac21',
 'ac22',
 'ac23',
 'ac24',
 'ac25',
 'ac26',
 'ac27',
 'ac28',
 'ac29',
 'ac30',
 'ac31',
 'ac32',
 'ac33',
 'ac34',
 'ac35',
 'ac36',
 'ac37',
 'ac38',
 'ac39',
 'ac40',
 'ac41',
 'ac42',
 'ac43',
 'ac44',
 'ac45',
 'ac46',
 'ac47',
 'ac48',
 'ac49',
 'ac50',
 'ac51',
 'ac52',
 'ac53',
 'ac54',
 'ac55',
 'ac56',
 'ac57',
 'ac58',
 'ac59',
 'ac60',
 'ac61',
 'ac62',
 'ac63',
 'ac64',
 'ac65',
 'ac66',
 'ac67',
 'ac68',
 'ac69',
 'ac70',
 'ac71',
 'ac72',
 'ac73',
 'ac74',
 'ac75',
 'ac76',
 'ac77',
 'ac78',
 'ac79',
 'ac80',
 'ac81',
 'ac82',
 'ac83',
 'ac84',
 'ac85',
 'ac86',
 'ac87',
 'ac88',
 'ac89',
 'ac90',
 'ac91',
 'ac92',
 'ac93',
 'ac94',
 'ac95',
 'ac96',
 'ac97',
 'ac98',
 'ac99',
 'ad00',
 'ad01',
 'ad02',
 'ad03',
 'ad04',
 'ad05',
 'ad06',
 'ad07',
 'ad08',
 'ad09',
 'ad10',
 'ad11',
 'ad12',
 'ad13',
 'ad14',
 'ad15',
 'ad16',
 'ad17',
 'ad18',
 'ad19',
 'ad20',
 'ad21',
 'ad22',
 'ad23',
 'ad24',
 'ad25',
 'ad26',
 'ad27',
 'ad28',
 'ad29',
 'ad30',
 'ad31',
 'ad32',
 'ad33',
 'ad34',
 'ad35',
 'ad36',
 'ad37',
 'ad38',
 'ad39',
 'ad40',
 'ad41',
 'ad42',
 'ad43',
 'ad44',
 'ad45',
 'ad46',
 'ad47',
 'ad48',
 'ad49',
 'ad50',
 'ad51',
 'ad52',
 'ad53',
 'ad54',
 'ad55',
 'ad56',
 'ad57',
 'ad58',
 'ad59',
 'ad60',
 'ad61',
 'ad62',
 'ad63',
 'ad64',
 'ad65',
 'ad66',
 'ad67',
 'ad68',
 'ad69',
 'ad70',
 'ad71',
 'ad72',
 'ad73',
 'ad74',
 'ad75',
 'ad76',
 'ad77',
 'ad78',
 'ad79',
 'ad80',
 'ad81',
 'ad82',
 'ad83',
 'ad84',
 'ad85',
 'ad86',
 'ad87',
 'ad88',
 'ad89',
 'ad90',
 'ad91',
 'ad92',
 'ad93',
 'ad94',
 'ad95',
 'ad96',
 'ad97',
 'ad98',
 'ad99',
 'ae00',
 'ae01',
 'ae02',
 'ae03',
 'ae04',
 'ae05',
 'ae06',
 'ae07',
 'ae08',
 'ae09',
 'ae10',
 'ae11',
 'ae12',
 'ae13',
 'ae14',
 'ae15',
 'ae16',
 'ae17',
 'ae18',
 'ae19',
 'ae20',
 'ae21',
 'ae22',
 'ae23',
 'ae24',
 'ae25',
 'ae26',
 'ae27',
 'ae28',
 'ae29',
 'ae30',
 'ae31',
 'ae32',
 'ae33',
 'ae34',
 'ae35',
 'ae36',
 'ae37',
 'ae38',
 'ae39',
 'ae40',
 'ae41',
 'ae42',
 'ae43',
 'ae44',
 'ae45',
 'ae46',
 'ae47',
 'ae48',
 'ae49',
 'ae50',
 'ae51',
 'ae52',
 'ae53',
 'ae54',
 'ae55',
 'ae56',
 'ae57',
 'ae58',
 'ae59',
 'ae60',
 'ae61',
 'ae62',
 'ae63',
 'ae64',
 'ae65',
 'ae66',
 'ae67',
 'ae68',
 'ae69',
 'ae70',
 'ae71',
 'ae72',
 'ae73',
 'ae74',
 'ae75',
 'ae76',
 'ae77',
 'ae78',
 'ae79',
 'ae80',
 'ae81',
 'ae82',
 'ae83',
 'ae84',
 'ae85',
 'ae86',
 'ae87',
 'ae88',
 'ae89',
 'ae90',
 'ae91',
 'ae92',
 'ae93',
 'ae94',
 'ae95',
 'ae96',
 'ae97',
 'ae98',
 'ae99',
 'ba00',
 'ba01',
 'ba02',
 'ba03',
 'ba04',
 'ba05',
 'ba06',
 'ba07',
 'ba08',
 'ba09',
 'ba10',
 'ba11',
 'ba12',
 'ba13',
 'ba14',
 'ba15',
 'ba16',
 'ba17',
 'ba18',
 'ba19',
 'ba20',
 'ba21',
 'ba22',
 'ba23',
 'ba24',
 'ba25',
 'ba26',
 'ba27',
 'ba28',
 'ba29',
 'ba30',
 'ba31',
 'ba32',
 'ba33',
 'ba34',
 'ba35',
 'ba36',
 'ba37',
 'ba38',
 'ba39',
 'ba40',
 'ba41',
 'ba42',
 'ba43',
 'ba44',
 'ba45',
 'ba46',
 'ba47',
 'ba48',
 'ba49',
 'ba50',
 'ba51',
 'ba52',
 'ba53',
 'ba54',
 'ba55',
 'ba56',
 'ba57',
 'ba58',
 'ba59',
 'ba60',
 'ba61',
 'ba62',
 'ba63',
 'ba64',
 'ba65',
 'ba66',
 'ba67',
 'ba68',
 'ba69',
 'ba70',
 'ba71',
 'ba72',
 'ba73',
 'ba74',
 'ba75',
 'ba76',
 'ba77',
 'ba78',
 'ba79',
 'ba80',
 'ba81',
 'ba82',
 'ba83',
 'ba84',
 'ba85',
 'ba86',
 'ba87',
 'ba88',
 'ba89',
 'ba90',
 'ba91',
 'ba92',
 'ba93',
 'ba94',
 'ba95',
 'ba96',
 'ba97',
 'ba98',
 'ba99',
 'bb00',
 'bb01',
 'bb02',
 'bb03',
 'bb04',
 'bb05',
 'bb06',
 'bb07',
 'bb08',
 'bb09',
 'bb10',
 'bb11',
 'bb12',
 'bb13',
 'bb14',
 'bb15',
 'bb16',
 'bb17',
 'bb18',
 'bb19',
 'bb20',
 'bb21',
 'bb22',
 'bb23',
 'bb24',
 'bb25',
 'bb26',
 'bb27',
 'bb28',
 'bb29',
 'bb30',
 'bb31',
 'bb32',
 'bb33',
 'bb34',
 'bb35',
 'bb36',
 'bb37',
 'bb38',
 'bb39',
 'bb40',
 'bb41',
 'bb42',
 'bb43',
 'bb44',
 'bb45',
 'bb46',
 'bb47',
 'bb48',
 'bb49',
 'bb50',
 'bb51',
 'bb52',
 'bb53',
 'bb54',
 'bb55',
 'bb56',
 'bb57',
 'bb58',
 'bb59',
 'bb60',
 'bb61',
 'bb62',
 'bb63',
 'bb64',
 'bb65',
 'bb66',
 'bb67',
 'bb68',
 'bb69',
 'bb70',
 'bb71',
 'bb72',
 'bb73',
 'bb74',
 'bb75',
 'bb76',
 'bb77',
 'bb78',
 'bb79',
 'bb80',
 'bb81',
 'bb82',
 'bb83',
 'bb84',
 'bb85',
 'bb86',
 'bb87',
 'bb88',
 'bb89',
 'bb90',
 'bb91',
 'bb92',
 'bb93',
 'bb94',
 'bb95',
 'bb96',
 'bb97',
 'bb98',
 'bb99',
 'bc00',
 'bc01',
 'bc02',
 'bc03',
 'bc04',
 'bc05',
 'bc06',
 'bc07',
 'bc08',
 'bc09',
 'bc10',
 'bc11',
 'bc12',
 'bc13',
 'bc14',
 'bc15',
 'bc16',
 'bc17',
 'bc18',
 'bc19',
 'bc20',
 'bc21',
 'bc22',
 'bc23',
 'bc24',
 'bc25',
 'bc26',
 'bc27',
 'bc28',
 'bc29',
 'bc30',
 'bc31',
 'bc32',
 'bc33',
 'bc34',
 'bc35',
 'bc36',
 'bc37',
 'bc38',
 'bc39',
 'bc40',
 'bc41',
 'bc42',
 'bc43',
 'bc44',
 'bc45',
 'bc46',
 'bc47',
 'bc48',
 'bc49',
 'bc50',
 'bc51',
 'bc52',
 'bc53',
 'bc54',
 'bc55',
 'bc56',
 'bc57',
 'bc58',
 'bc59',
 'bc60',
 'bc61',
 'bc62',
 'bc63',
 'bc64',
 'bc65',
 'bc66',
 'bc67',
 'bc68',
 'bc69',
 'bc70',
 'bc71',
 'bc72',
 'bc73',
 'bc74',
 'bc75',
 'bc76',
 'bc77',
 'bc78',
 'bc79',
 'bc80',
 'bc81',
 'bc82',
 'bc83',
 'bc84',
 'bc85',
 'bc86',
 'bc87',
 'bc88',
 'bc89',
 'bc90',
 'bc91',
 'bc92',
 'bc93',
 'bc94',
 'bc95',
 'bc96',
 'bc97',
 'bc98',
 'bc99',
 'bd00',
 'bd01',
 'bd02',
 'bd03',
 'bd04',
 'bd05',
 'bd06',
 'bd07',
 'bd08',
 'bd09',
 'bd10',
 'bd11',
 'bd12',
 'bd13',
 'bd14',
 'bd15',
 'bd16',
 'bd17',
 'bd18',
 'bd19',
 'bd20',
 'bd21',
 'bd22',
 'bd23',
 'bd24',
 'bd25',
 'bd26',
 'bd27',
 'bd28',
 'bd29',
 'bd30',
 'bd31',
 'bd32',
 'bd33',
 'bd34',
 'bd35',
 'bd36',
 'bd37',
 'bd38',
 'bd39',
 'bd40',
 'bd41',
 'bd42',
 'bd43',
 'bd44',
 'bd45',
 'bd46',
 'bd47',
 'bd48',
 'bd49',
 'bd50',
 'bd51',
 'bd52',
 'bd53',
 'bd54',
 'bd55',
 'bd56',
 'bd57',
 'bd58',
 'bd59',
 'bd60',
 'bd61',
 'bd62',
 'bd63',
 'bd64',
 'bd65',
 'bd66',
 'bd67',
 'bd68',
 'bd69',
 'bd70',
 'bd71',
 'bd72',
 'bd73',
 'bd74',
 'bd75',
 'bd76',
 'bd77',
 'bd78',
 'bd79',
 'bd80',
 'bd81',
 'bd82',
 'bd83',
 'bd84',
 'bd85',
 'bd86',
 'bd87',
 'bd88',
 'bd89',
 'bd90',
 'bd91',
 'bd92',
 'bd93',
 'bd94',
 'bd95',
 'bd96',
 'bd97',
 'bd98',
 'bd99',
 'be00',
 'be01',
 'be02',
 'be03',
 'be04',
 'be05',
 'be06',
 'be07',
 'be08',
 'be09',
 'be10',
 'be11',
 'be12',
 'be13',
 'be14',
 'be15',
 'be16',
 'be17',
 'be18',
 'be19',
 'be20',
 'be21',
 'be22',
 'be23',
 'be24',
 'be25',
 'be26',
 'be27',
 'be28',
 'be29',
 'be30',
 'be31',
 'be32',
 'be33',
 'be34',
 'be35',
 'be36',
 'be37',
 'be38',
 'be39',
 'be40',
 'be41',
 'be42',
 'be43',
 'be44',
 'be45',
 'be46',
 'be47',
 'be48',
 'be49',
 'be50',
 'be51',
 'be52',
 'be53',
 'be54',
 'be55',
 'be56',
 'be57',
 'be58',
 'be59',
 'be60',
 'be61',
 'be62',
 'be63',
 'be64',
 'be65',
 'be66',
 'be67',
 'be68',
 'be69',
 'be70',
 'be71',
 'be72',
 'be73',
 'be74',
 'be75',
 'be76',
 'be77',
 'be78',
 'be79',
 'be80',
 'be81',
 'be82',
 'be83',
 'be84',
 'be85',
 'be86',
 'be87',
 'be88',
 'be89',
 'be90',
 'be91',
 'be92',
 'be93',
 'be94',
 'be95',
 'be96',
 'be97',
 'be98',
 'be99',
 ...]

<br>
# The Python Programming Language: Numerical Python (NumPy)

In [308]:
import numpy as np

<br>
## Creating Arrays

Create a list and convert it to a numpy array

In [317]:
mylist = [1, 2, 6]
x = np.array(mylist)
x

array([1, 2, 6])

<br>
Or just pass in a list directly

In [318]:
y = np.array([4, 5, 6])
y

array([4, 5, 6])

<br>
Pass in a list of lists to create a multidimensional array.

In [320]:
m = np.array([[7, 8, 9], [10, 11, 12]])
m

array([[ 7,  8,  9],
       [10, 11, 12]])

<br>
Use the shape method to find the dimensions of the array. (rows, columns)

In [321]:
m.shape

(2, 3)

<br>
`arange` returns evenly spaced values within a given interval.

In [437]:
n = np.arange(0, 30, 2) # start at 0 count up by 2, stop before 30
n.resize(5,3)
n

array([[ 0,  2,  4],
       [ 6,  8, 10],
       [12, 14, 16],
       [18, 20, 22],
       [24, 26, 28]])

In [473]:
r= np.arange(0,
             36)

#r.resize(6,6)
#r.reshape(36)
r

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35])

<br>
`reshape` returns an array with the same data with a new shape.

In [341]:
n = n.reshape(3, 5) # reshape array to be 3x5
n

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

<br>
`linspace` returns evenly spaced numbers over a specified interval.

In [342]:
o = np.linspace(0, 4, 9) # return 9 evenly spaced values from 0 to 4
o

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

<br>
`resize` changes the shape and size of array in-place.

In [325]:
o.resize(3, 3)
o

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

<br>
`ones` returns a new array of given shape and type, filled with ones.

In [326]:
np.ones((3, 2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

<br>
`zeros` returns a new array of given shape and type, filled with zeros.

In [343]:
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

<br>
`eye` returns a 2-D array with ones on the diagonal and zeros elsewhere.

In [344]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

<br>
`diag` extracts a diagonal or constructs a diagonal array.

In [345]:
np.diag(y)

array([[4, 0, 0],
       [0, 5, 0],
       [0, 0, 6]])

<br>
Create an array using repeating list (or see `np.tile`)

In [346]:
np.array([1, 2, 3] * 3)

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

<br>
Repeat elements of an array using `repeat`.

In [348]:
np.repeat([1, 2, 3], 3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

<br>
#### Combining Arrays

In [350]:
p = np.ones([2, 3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

<br>
Use `vstack` to stack arrays in sequence vertically (row wise).

In [351]:
np.vstack([p, 2*p])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

<br>
Use `hstack` to stack arrays in sequence horizontally (column wise).

In [352]:
np.hstack([p, 2*p])

array([[1, 1, 1, 2, 2, 2],
       [1, 1, 1, 2, 2, 2]])

<br>
## Operations

Use `+`, `-`, `*`, `/` and `**` to perform element wise addition, subtraction, multiplication, division and power.

In [353]:
print(x + y) # elementwise addition     [1 2 3] + [4 5 6] = [5  7  9]
print(x - y) # elementwise subtraction  [1 2 3] - [4 5 6] = [-3 -3 -3]

[ 5  7 12]
[-3 -3  0]

In [354]:
print(x * y) # elementwise multiplication  [1 2 3] * [4 5 6] = [4  10  18]
print(x / y) # elementwise divison         [1 2 3] / [4 5 6] = [0.25  0.4  0.5]

[ 4 10 36]
[0.25 0.4  1.  ]

In [355]:
print(x**2) # elementwise power  [1 2 3] ^2 =  [1 4 9]

[ 1  4 36]

<br>
**Dot Product:**  

$ \begin{bmatrix}x_1 \ x_2 \ x_3\end{bmatrix}
\cdot
\begin{bmatrix}y_1 \\ y_2 \\ y_3\end{bmatrix}
= x_1 y_1 + x_2 y_2 + x_3 y_3$

In [356]:
x.dot(y) # dot product  1*4 + 2*5 + 3*6

50

In [358]:
z = np.array([y, y**2])
print(len(z)) # number of rows of array
z

2

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
Let's look at transposing arrays. Transposing permutes the dimensions of the array.

In [359]:
z = np.array([y, y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

<br>
The shape of array `z` is `(2,3)` before transposing.

In [360]:
z.shape

(2, 3)

<br>
Use `.T` to get the transpose.

In [361]:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

<br>
The number of rows has swapped with the number of columns.

In [362]:
z.T.shape

(3, 2)

<br>
Use `.dtype` to see the data type of the elements in the array.

In [363]:
z.dtype

dtype('int64')

<br>
Use `.astype` to cast to a specific type.

In [364]:
z = z.astype('f')
z.dtype

dtype('float32')

<br>
## Math Functions

Numpy has many built in math functions that can be performed on arrays.

In [375]:
a = np.array([-4, -2, -6, 3, 5])

In [366]:
a.sum()

3

In [367]:
a.max()

5

In [368]:
a.min()

-4

In [369]:
a.mean()

0.6

In [370]:
a.std()

3.2619012860600183

<br>
`argmax` and `argmin` return the index of the maximum and minimum values in the array.

In [376]:
a.argmax()

4

In [378]:
a.argmin()

2

<br>
## Indexing / Slicing

In [379]:
s = np.arange(13)**2
s

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144])

<br>
Use bracket notation to get the value at a specific index. Remember that indexing starts at 0.

In [381]:
s[0], s[4], s[-1]

(0, 16, 144)

<br>
Use `:` to indicate a range. `array[start:stop]`


Leaving `start` or `stop` empty will default to the beginning/end of the array.

In [488]:
s[2:4:]

array([4, 9])

<br>
Use negatives to count from the back.

In [383]:
s[-4:]

array([ 81, 100, 121, 144])

<br>
A second `:` can be used to indicate step-size. `array[start:stop:stepsize]`

Here we are starting 5th element from the end, and counting backwards by 2 until the beginning of the array is reached.

In [479]:
s[-5:2:-2]

array([64, 36, 16])

<br>
Let's look at a multidimensional array.

In [386]:
r = np.arange(36)
r.resize((6, 6))
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]])

<br>
Use bracket notation to slice: `array[row, column]`

In [433]:
r[2, 2]

0

In [435]:
r= arr.range(0,36)
r

NameError: name 'arr' is not defined

<br>
And use : to select a range of rows or columns

In [388]:
r[3, 3:6]

array([21, 22, 23])

<br>
Here we are selecting all the rows up to (and not including) row 2, and all the columns up to (and not including) the last column.

In [389]:
r[:2, :-1]

array([[ 0,  1,  2,  3,  4],
       [ 6,  7,  8,  9, 10]])

<br>
This is a slice of the last row, and only every other element.

In [390]:
r[-1, ::2]

array([30, 32, 34])

<br>
We can also perform conditional indexing. Here we are selecting values from the array that are greater than 30. (Also see `np.where`)

In [392]:
r[r > 30]

array([31, 32, 33, 34, 35])

<br>
Here we are assigning all values in the array that are greater than 30 to the value of 30.

In [393]:
r[r > 30] = 30
r

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
## Copying Data

Be careful with copying and modifying arrays in NumPy!


`r2` is a slice of `r`

In [394]:
r2 = r[:3,:3]
r2

array([[ 0,  1,  2],
       [ 6,  7,  8],
       [12, 13, 14]])

<br>
Set this slice's values to zero ([:] selects the entire array)

In [395]:
r2[:] = 0
r2

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

<br>
`r` has also been changed!

In [396]:
r

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
To avoid this, use `r.copy` to create a copy that will not affect the original array

In [397]:
r_copy = r.copy()
r_copy

array([[ 0,  0,  0,  3,  4,  5],
       [ 0,  0,  0,  9, 10, 11],
       [ 0,  0,  0, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 30, 30, 30, 30, 30]])

<br>
Now when r_copy is modified, r will not be changed.

In [398]:
r_copy[:] = 10
print(r_copy, '\n')
print(r)

[[10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]
 [10 10 10 10 10 10]]

[[ 0  0  0  3  4  5]
 [ 0  0  0  9 10 11]
 [ 0  0  0 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]
 [30 30 30 30 30 30]]

<br>
### Iterating Over Arrays

Let's create a new 4 by 3 array of random numbers 0-9.

In [399]:
test = np.random.randint(0, 10, (4,3))
test

array([[0, 5, 6],
       [0, 6, 8],
       [0, 2, 6],
       [3, 6, 2]])

<br>
Iterate by row:

In [400]:
for row in test:
    print(row)

[0 5 6]
[0 6 8]
[0 2 6]
[3 6 2]

<br>
Iterate by index:

In [401]:
for i in range(len(test)):
    print(test[i])

[0 5 6]
[0 6 8]
[0 2 6]
[3 6 2]

<br>
Iterate by row and index:

In [402]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [0 5 6]
row 1 is [0 6 8]
row 2 is [0 2 6]
row 3 is [3 6 2]

<br>
Use `zip` to iterate over multiple iterables.

In [414]:
test2 = test**2
#test
test2

array([[ 0, 25, 36],
       [ 0, 36, 64],
       [ 0,  4, 36],
       [ 9, 36,  4]])

In [490]:
for i, j in zip(test, test2):
    print(i,'+',j,'=',i+j)

[0 5 6] + [ 0 25 36] = [ 0 30 42]
[0 6 8] + [ 0 36 64] = [ 0 42 72]
[0 2 6] + [ 0  4 36] = [ 0  6 42]
[3 6 2] + [ 9 36  4] = [12 42  6]

In [492]:
['a','b','c']+[1,2,3]

['a', 'b', 'c', 1, 2, 3]